body{
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

h2{
    font-weight: 900;
}
.top-h3-container{
    display: flex;
    flex-direction: row;
    margin: 0 2% 2%;
}

.fa-long-arrow-alt-left{
    margin-right: 1.5%;
}

.top-h3{
    margin: 0;
}

.logo{
    height: 7%;
}

.header{
    padding: 2%;
}

.top-img-container{
    overflow-x: hidden;
}

.div-break{
    text-align: center;
}

.border{
    width: 95%;
    border-top: 1px solid #F2F2F2;
    display: inline-block;
}

.info-wrapper{
    display: flex;
    padding-left: 5%;
}

.info{
    width: 75%;
}

.info-button-wrapper{
    margin-bottom: 5%;
}

.fav-button, .book-button{
    padding: 3% 12%;
    color: #ffffff;
    border: none;
    font-size: 0.75em;
    font-weight: 700;
}

.fa-heart{
    width: 50%;
    text-align: center;
}

.fa-heart:hover, .fav-button:hover{
    cursor: pointer;
}

.book-button{
    background-color: #66DDA8;
    margin-right: 5%;
}

.fav-button{
    background-color: #082B44;
    border: none;
}

.info-container{
    margin-right: 10%;
    width: 50%;
}

.notes-container{
    display: flex;
    background: #082B44;
    color: #ffffff;
    margin: 0 3%;
    padding: 3% 0;
    box-shadow: 3px 3px 4px 2px rgba(143,143,143,1);
}

.profile-pic{
    width: 55%;
}

.profile-img-wrapper{
    flex-direction: column;
    width: 25%;
    justify-content: center;
    text-align: center;
}

.profile-date{
    font-size: 12px;
}

.notes-p{
    width: 95%;
    line-height: 1.5;
    margin-top: 0;
    font-style: italic;
}

.notes-p-container{
    padding-left: 1%;
    width: 100%;
}

.notes-button{
    color: #66DDA8;
    background: none;
    border: none;
    padding: 0;
    margin-top: 0.5%;
}

.overview-container{
    display: flex;
    margin: 0 2%;
}

.overview-h3, .images-h3, .notes-h3{
    padding-left: 5%;
}

.position-container{
    display: flex;
    width: 50%;
    padding-left: 3%;
    height: 50%;
}

.profile-img{
    height: 30%;
}

.position-wrapper{
    margin-left: 3%;
}

.position-h2{
    margin-bottom: 0;
}

.position-p{
    margin: 5% 0;
}

.description-wrapper{
    width: 70%;
    margin-right: 1%;
}

.num{
    height: 7em;
}

.num-p{
    margin-top: 23%;
    margin-left: 5%;
    width: 100%;
}

.extra-info-wrapper{
    width: 20%;
}

.extra-info-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4%;
}

.description-p{
    line-height: 1.25;
}

.description-h2{
    margin: 0;
}

.gallery{
    margin: 0 3% 3% 3%;
    width: 94%;
    margin-right: 20%;
}

.building-wrapper{
    padding: 0 4%;
}

.building-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.building-h2{
    margin-bottom: 2%;
}

.facts-wrapper{
    width: 25%;
    border: 0.5px solid #F2F2F2;
    border-radius: 4px;
}

.facts-h3, .facts-p{
    padding: 8% 10%;
    margin: 0;
    border-bottom: 0.5px solid #F2F2F2;
}

.facts-p:last-child{   
    border-bottom: none;
}

.view-more{
    display: flex;
    justify-content: center;
    padding: 2%;
    border: 1px solid #F2F2F2;
    margin: 2%;
    border-radius: 3px;
}

footer{
    height: 25%;
    background-color: #082B44;
}